<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Testes EJCM </title>

  <style>
    h1 {

      color: blue;

    }
  </style>

</head>

<body>

  <h1> Hello, {{ name }}! </h1>

</body>

</html>